SMS_DB_URL=jdbc:mysql://your-db-host:3306/sms_db?serverTimezone=UTC
SMS_DB_USER=your_db_user
SMS_DB_PASSWORD=replace_with_a_strong_password
PORT=9090
JDBC_JAR=/usr/share/java/mysql-connector-j-9.6.0.jar
